<form #registerForm="ngForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Registrar</h2>
  <hr>

  <div class="form-group">
    <input type="text" class="form-control" required name="user" [(ngModel)]="model.username" placeholder="Usuário">
  </div>

  <div class="form-group">
    <label for="favouriteValue">Seu valor favorito?</label>
    <select class="form-control" id="favouriteValue">
      <option *ngFor="let value of valuesFromHome" [value]="value">{{value.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <input type="password" class="form-control" required  [(ngModel)]="model.password" name="password" placeholder="Senha">
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success mr-2" type="submit">Registrar</button>
    <button class="btn btn-default" type="button" (click)="cancel()">Cancelar</button>
  </div>
  
</form>